<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.GalleryMapper">	
	<insert id="insert" useGeneratedKeys="true" keyProperty="gno">
		insert into gallery (userId, gpath, uploadDate)
		values (#{userId},#{gpath},now())
	</insert>
	
	<select id="listAll" resultType="GalleryVO">
		select * from gallery
	</select>
	
	<select id="selectOneByGno" resultType="GalleryVO">
		select * from gallery where gno = #{gno}
	</select>
	
	<select id="listWithUserId" resultType="GalleryVO">
		select * from gallery where userId = #{userId}
	</select>
	
	<delete id="delete">
		delete from gallery where gno = #{gno}
	</delete>
	
</mapper>