<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.MemberMapper">	
	<insert id="insertMember">
		insert into member (userId, name, email, phone,password)
		values (#{userId},#{name},#{email},#{phone},#{password})
	</insert>
	
	<select id="readMember" resultType="MemberVO">
		select * from member where userId = #{userId}
	</select>
	
	<select id="readWithPw" resultType="MemberVO">
		select * from member where userId = #{userId} and password = #{password}
	</select>
</mapper>